body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  margin: 0;      
  background-color: rgb(126, 195, 255);         
}

.registration-form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-style: groove; 
    border-radius: 5px;
    padding: 20px;
    width: 250px;
    align-content: center;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    gap: 8px;
}

label {
    align-items: flex-start;
}

input {
    width: 200px;
}

h1 {
    text-align: center;
}

button {
    border-radius: 5px;
    background-color: white;
    transition-duration: 0.4s;

}

button:hover {
    background-color: rgb(126, 195, 255);
}